<div class="dialog-title m-t-4" fxLayout="row" fxLayoutAlign="center center">
  <h4
    mat-dialog-title
    [style.max-width]="'95%'"
    i18n="Modal Title: The view store user modal title@@ViewStoreUserModalTitle"
  >
    View Store User
  </h4>
</div>
<div mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutGap="8px">
    <div
      fxLayout="row"
      fxLayout.Align="flex-start center"
      class="property-field"
      aria-label="store user id"
      i18n-aria-label="@@ariaLabelStoreUserId"
    >
      <label class="property-label" for="store-user-id"><span>Id</span>:</label>
      <span class="property-value m-l-2" id="store-user-id">{{ data.id }}</span>
    </div>
    <div
      fxLayout="row"
      fxLayout.Align="space-around center"
      class="property-field"
      aria-label="store-user name"
      i18n-aria-label="@@ariaLabelStoreUserName"
    >
      <label class="property-label" for="store-user-name">
        <span i18n="Modal field: The name field label@@name"> Name</span>:
      </label>
      <span class="property-value m-l-2 sentence" id="store-user-name">{{ userName }}</span>
    </div>
    <div
      fxLayout="row"
      fxLayout.Align="flex-start center"
      class="property-field"
      aria-label="store user gender"
      i18n-aria-label="@@ariaLabelStoreUserGender"
    >
      <label class="property-label" for="store-user-gender">
        <span i18n="Modal field: The gender field label@@gender">Gender</span>:
      </label>
      <span class="property-value m-l-2 capitalize" id="store-description">{{ data.gender }}</span>
    </div>
    <div
      fxLayout="row"
      fxLayout.Align="flex-start center"
      class="property-field"
      aria-label="store user's email"
      i18n-aria-label="@@ariaLabelStoreUserEmail"
    >
      <label class="property-label" for="store-user-email">
        <span i18n="Modal field: The email field label@@email">Email</span>:
      </label>
      <span class="property-value m-l-2" id="store-user-email">{{ data.email }}</span>
    </div>
    <div
      fxLayout="row"
      fxLayout.Align="flex-start center"
      class="property-field"
      aria-label="store user's store name"
      i18n-aria-label="@@ariaLabelStoreUserStoreName"
    >
      <label class="property-label" for="store-user-store">
        <span i18n="Modal field: The store field label@@store" class="capitalize">store</span>:
      </label>
      <span class="property-value m-l-2 capitalize" id="store-user-store">{{ data.store }}</span>
    </div>
    <div
      fxLayout="row"
      fxLayout.Align="flex-start center"
      class="property-field"
      aria-label="store user's phone number"
      i18n-aria-label="@@ariaLabelStoreUserPhoneNumber"
    >
      <label class="property-label" for="store-user-phone-number">
        <span i18n="Modal field: The phone number field label@@phoneNumber">Phone Number</span>:
      </label>
      <span class="property-value m-l-2" id="store-user-phone-number">{{ data.phoneNumber }}</span>
    </div>
    <div fxLayout="row" fxLayout.Align="flex-start center" class="property-field">
      <label class="property-label" for="store-user-permissions">
        <span i18n="Modal field: The permissions field label@@permissions">Permissions</span>:
      </label>
      <span class="property-value m-l-2" id="store-user-permissions">{{ data.permissions.join(", ") }}</span>
    </div>
    <div
      fxLayout="row"
      fxLayout.Align="flex-start center"
      class="property-field"
      aria-label="store user's status"
      i18n-aria-label="@@ariaLabelStoreUserStatus"
    >
      <label class="property-label" for="store-user-status">
        <span i18n="Modal field: The status field label@@status">Status</span>:
      </label>
      <span class="property-value m-l-2" id="store-user-status">{{ status }}</span>
    </div>
  </div>
</div>
<div class="p-5" fxLayout="row" fxLayoutAlign="center center">
  <button mat-button mat-dialog-close fxFlex="30%" i18n="Form close button: The close button text@@closeButtontext">
    Close
  </button>
</div>
